##########flume-kafka###############
agent.sources = s1
agent.channels = c1
agent.sinks = k1

#agent.sources.s1.type=exec
#agent.sources.s1.command=tail -F tail -F /g/program/apache-flume-1.8.0/log/test.log
#agent.sources.s1.channels=c1

agent.sources.s1.type = spooldir
agent.sources.s1.spoolDir = /g/program/apache-flume-1.8.0/log/
agent.sources.s1.fileHeader = true
agent.sources.s1.channels=c1

agent.channels.c1.type=memory
agent.channels.c1.capacity=10000
agent.channels.c1.transactionCapacity=100
agent.sinks.k1.kafka.producer.acks = 1
agent.sinks.k1.flumeBatchSize = 1

agent.sinks.k1.channel=c1
#设置Kafka接收器
agent.sinks.k1.type= org.apache.flume.sink.kafka.KafkaSink
#设置Kafka的broker地址和端口号
agent.sinks.k1.kafka.bootstrap.servers=127.0.0.1:9092
#设置Kafka的Topic
agent.sinks.k1.kafka.topic=flumetest
#设置序列化方式
agent.sinks.k1.kafka.producer.value.serializer=kafka.serializer.StringEncoder

#################






