input{
	stdin{

	}
	jdbc{
		jdbc_connection_string => "jdbc:mysql://localhost:3306/investment?characterEncoding=UTF-8&useSSL=false&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC"
		jdbc_user => "root"
		jdbc_password => "root"
		jdbc_driver_library => "D:\program\elasticsearch-6.3.0\logstash-6.3.0\lib\jars\mysql-connector-java-6.0.3.jar"
		jdbc_driver_class => "com.mysql.jdbc.Driver"
		record_last_run => "true"
		use_column_value => "false"
		tracking_column => "proj_id"
		clean_run => "false"
		jdbc_paging_enabled => "true"
		jdbc_page_size => "50000"

		statement =>  "select * from investdetail"
		schedule => "* * * * *"
		type => "tstype"
	}
}

output{
	elasticsearch{
		hosts => ["localhost:9200"]
		index => "oracle_demo"
		document_id => "%{proj_id}"
	}
}